#left #galleries {
  margin: 0;
  padding: 0;
}

#left #galleries li {
  display: inline;
  list-style: none;
}

#left #galleries li a {
  display: block;
  background: #ccc;
  margin: 0px 0px 8px;
  padding: 8px;
  color: #222;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#left #galleries li a strong {
  display: block;
  text-transform: uppercase;
}

#left #galleries li a code {
  display: block;
  font-size: 85%;
  color: #666;
}

#left #galleries li a:hover { 
  background: #bbb;
}

#edit-thumb, #edit-feature {
  position: relative;
}

#edit-thumb .full-image, #edit-feature .full-image {
  top: 8px;
  position: absolute;
}

#edit-thumb .thumb-preview .preview, #edit-feature .feature-preview .preview {
  overflow: hidden;
  width: 50%;
  margin: auto;
}

#edit-thumb .thumb-current .current, #edit-feature .feature-current .current {
  width: 50%;
  margin: auto;
}

#edit-thumb .thumb-current, #edit-feature .feature-current {
  position: absolute;
  left: 520px;
  top: 8px;
  width: 222px;
}

#edit-thumb .thumb-current img, #edit-thumb .thumb-preview img {
}

#edit-thumb .thumb-preview, #edit-feature .feature-preview {
  position: absolute;
  left: 520px;
  top: 208px;
  width: 222px;
}

#edit-thumb h3, #edit-feature h3 {
  text-align: center;
}

#edit-thumb .action, #edit-feature .action {
  position: absolute;
  left: 520px;
  top: 408px;
  width: 222px;
}

